.app {
  background-color: brown;
  color: #fff;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2f2f2f;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #3f3f3f;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-flex label {
  flex-basis: 30%;
  margin-bottom: 20px;
}
.submit-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3e8e41;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #4f4f4f;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #4f4f4f;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4f4f4f;
}

tr:nth-child(even) {
  background-color: #3f3f3f;
}

tr:nth-child(odd) {
  background-color: #2f2f2f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: baseline;
}

form label {
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}
